.webrtc__player__outer {
	display: block
}

.webrtc_start_button {
	display: inline-block!important
}

.webrtc_start_button--full {
	display: inline-block!important
}

@media only screen and (max-width:580px) {
	.webrtc_start_button--small {
		display: inline-block!important;
		padding: 0 20px 1px;
		text-transform: uppercase
	}

	.webrtc_start_button--full {
		display: none!important
	}
}

@media only screen and (min-width:581px) and (max-width:780px) {
	.webrtc_start_button--small {
		display: inline-block!important;
		padding: 0 20px 1px;
		text-transform: uppercase
	}

	.webrtc_start_button--full {
		display: none!important
	}
}

@media only screen and (min-width:781px) and (max-width:1200px) {
	.webrtc_start_button--small {
		display: inline-block!important;
		padding: 0 20px 1px;
		text-transform: uppercase
	}

	.webrtc_start_button--full {
		display: none!important
	}
}