@keyframes play_sound_three {
	0% {
		fill: #CC2F2E;
		stroke: #CC2F2E
	}

	30% {
		fill: #0D0E30;
		stroke: #0D0E30
	}

	70% {
		fill: #0D0E30;
		stroke: #0D0E30
	}

	100% {
		fill: #CC2F2E;
		stroke: #CC2F2E
	}
}

@keyframes play_sound_five_four {
	0% {
		fill: #ffa000;
		stroke: #ffa000
	}

	39% {
		fill: #ffa000;
		stroke: #ffa000
	}

	40% {
		fill: #00b4f9;
		stroke: #00b4f9
	}

	60% {
		fill: #00b4f9;
		stroke: #00b4f9
	}

	61% {
		fill: #ffa000;
		stroke: #ffa000
	}

	100% {
		fill: #ffa000;
		stroke: #ffa000
	}
}

@keyframes play_sound_five_three {
	0% {
		fill: #ffa000;
		stroke: #ffa000
	}

	29% {
		fill: #ffa000;
		stroke: #ffa000
	}

	30% {
		fill: #00b4f9;
		stroke: #00b4f9
	}

	70% {
		fill: #00b4f9;
		stroke: #00b4f9
	}

	71% {
		fill: #ffa000;
		stroke: #ffa000
	}

	100% {
		fill: #ffa000;
		stroke: #ffa000
	}
}

@keyframes play_sound_five_two {
	0% {
		fill: #ffa000;
		stroke: #ffa000
	}

	19% {
		fill: #ffa000;
		stroke: #ffa000
	}

	20% {
		fill: #00b4f9;
		stroke: #00b4f9
	}

	80% {
		fill: #00b4f9;
		stroke: #00b4f9
	}

	81% {
		fill: #ffa000;
		stroke: #ffa000
	}

	100% {
		fill: #ffa000;
		stroke: #ffa000
	}
}

@keyframes play_sound_five_one {
	0% {
		fill: #ffa000;
		stroke: #ffa000
	}

	9% {
		fill: #ffa000;
		stroke: #ffa000
	}

	10% {
		fill: #00b4f9;
		stroke: #00b4f9
	}

	90% {
		fill: #00b4f9;
		stroke: #00b4f9
	}

	91% {
		fill: #ffa000;
		stroke: #ffa000
	}

	100% {
		fill: #ffa000;
		stroke: #ffa000
	}
}

.members_beta_banner_outer {
	position: relative;
	display: block;
	width: 100%;
	background-color: #1c5f7a;
	height: 0
}

.members_beta_banner_inner {
	display: block;
	margin: 0 auto!important;
	width: 100%;
	max-width: 1248px;
	padding: 0 32px;
	position: relative;
	font-size: 18px;
	line-height: 21px;
	color: #fff;
	text-transform: uppercase;
	font-family: helveticaneue-light,helvetica neue light,helvetica neue,Helvetica,Arial,lucida grande,sans-serif
}

.members_beta_banner_inner a {
	color: #fff
}

.members_beta_banner_inner a:hover {
	color: #ffa000
}

.members-webrtc-beta {
	color: #00b4f9;
	cursor: pointer;
	width: auto;
	position: absolute;
	bottom: 2px;
	right: 32px;
	z-index: 3000;
	font-size: 10px;
	line-height: 10px;
	background-color: #191107;
	border-radius: 10px;
	padding: 2px 16px 3px
}

.members-webrtc-beta:hover {
	color: #ffa000
}

.members-webrtc-beta--left {
	right: auto;
	left: 32px
}

.members-webrtc-beta--right {
	display: none
}

.members-webrtc-beta br {
	display: none
}

.members-revert-to-flash {
	display: none;
	color: #00b4f9;
	cursor: pointer;
	width: auto;
	position: absolute;
	bottom: 2px;
	left: 32px;
	z-index: 3000;
	font-size: 8px;
	line-height: 8px;
	background-color: #191107;
	border-radius: 4px;
	padding: 2px 8px 3px
}

.members-revert-to-flash:hover {
	color: #ffa000
}

.members-webrtc-beta-small {
	display: none;
	color: #00b4f9;
	cursor: pointer;
	width: auto;
	position: absolute;
	bottom: 2px;
	left: 32px;
	z-index: 3000;
	font-size: 8px;
	line-height: 8px;
	background-color: #191107;
	border-radius: 4px;
	padding: 2px 8px 3px
}

.members-webrtc-beta-small:hover {
	color: #ffa000
}

.webrtc__player__outer {
	position: relative;
	width: 100%;
	height: 56px;
	background-color: #63451c;
	font-weight: 300;
	padding: 0;
	display: none
}

.webrtc__player__outer--trade {
	background-color: #28363d
}

.webrtc__player__outer--india {
	background-color: #317736
}

.webrtc__player__inner {
	display: block;
	margin: 0 auto!important;
	width: 100%;
	max-width: 1248px;
	padding: 0 32px;
	position: relative;
	font-size: 0;
	line-height: 0
}

.webrtc__player__middle {
	position: relative;
	display: inline-block;
	width: calc((100%/2) - 64px);
	height: 56px;
	position: relative;
	border: 0 solid #fff;
	background-color: rgba(0,0,0,.2);
	transition: background-color .5s;
	text-align: center
}

.webrtc__player__middle--on-air {
	background-color: rgba(0,0,0,.8);
	transition: background-color 1s
}

.webrtc__player__onair__text {
	position: relative;
	display: inline-block;
	width: calc((100% - 54px)/2);
	vertical-align: top;
	font-size: 18px;
	line-height: 31px;
	padding: 11px 16px 13px;
	font-weight: 300;
	text-align: center;
	color: #fff
}

.webrtc__player__onair__text a {
	position: relative;
	display: inline-block;
	border: 1px solid #fff;
	background-color: transparent;
	border-radius: 15px;
	font-size: 18px;
	line-height: 29px;
	color: #fff;
	padding: 0 16px 1px;
	text-decoration: none
}

.webrtc__player__onair__text a:hover {
	background-color: rgba(0,0,0,.2);
	border: 1px solid #ffa000;
	color: #ffa000
}

.webrtc__player__icon {
	position: relative;
	display: inline-block;
	width: 54px;
	vertical-align: top;
	padding: 12px 0;
	height: 58px
}

.webrtc__debug__outer {
	position: relative;
	width: 100%;
	height: 300px;
	background-color: #211f1f;
	font-weight: 300;
	padding: 0;
	display: none
}

.webrtc__debug__inner {
	display: block;
	margin: 750px auto!important;
	width: 100%;
	max-width: 1248px;
	padding: 16px 32px;
	position: relative;
	font-size: 0;
	line-height: 0
}

#webrtc_bottom_section {
	position: relative;
	width: 100%;
	height: 300px;
	color: #fff;
	font-size: 14px;
	line-height: 16px
}

.webrtc_settings_outer {
	position: relative;
	display: inline-block;
	width: 33.33%;
	vertical-align: top;
	padding-right: 16px;
	text-align: left
}

.webrtc_settings_title {
	color: #fff;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	padding-bottom: 4px
}

.webrtc_setting {
	color: #fff
}

.webrtc_setting span {
	color: #f58220
}

.webrtc_stats_outer {
	position: relative;
	display: inline-block;
	width: 33.33%;
	vertical-align: top;
	padding-right: 16px;
	text-align: left
}

.webrtc_stats_title {
	color: #fff;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	padding-bottom: 4px
}

.webrtc_stats {
	word-break: break-all;
	color: #f58220
}

.console_log_outer {
	position: relative;
	display: inline-block;
	width: 33.33%;
	vertical-align: top;
	padding-right: 16px;
	text-align: left
}

.console_log_title {
	color: #fff;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	padding-bottom: 4px
}

#console_log {
	word-break: break-all;
	color: #f58220
}

.webrtc_start_button {
	display: none!important
}

.webrtc_start_button--small {
	display: none!important
}

.webrtc__player__status__outer {
	display: inline-block;
	position: relative;
	width: calc((100%/4) + 32px);
	border: 0 solid blue;
	height: 56px;
	padding: 0px 16px 0 24px;
	font-size: 10px;
	line-height: 10px;
	vertical-align: top;
	visibility: hidden;
	color: #fff;
	text-align: center
}

.webrtc__player__outer--connected .webrtc__player__status__outer {
	visibility: visible
}

#webrtc_player_version {
	display: inline-block;
	position: relative;
	border: 0 solid red;
	display: none
}

.webrtc__player__status__outer div {
	display: inline-block;
	padding: 0 1px
}

.webrtc__player__status__outer #webrtc_protocol {
	width: 40px;
	text-align: center;
	text-transform: uppercase
}

.webrtc_status_slash--version {
	display: none
}

.webrtc__player__status__outer #webrtc_ping_time {
	width: 50px;
	text-align: center
}

.webrtc__player__status__outer #webrtc_jitter {
	width: 40px;
	text-align: center
}

.webrtc__player__status__outer #webrtc_packets_lost {
	width: 40px;
	text-align: center
}

.webrtc__player__status__outer #webrtc_mean_opinion_score {
	width: 30px;
	text-align: center
}

.qos_bars_outer {
	display: block;
	width: calc(100% - 100px);
	position: absolute;
	left: 24px;
	bottom: 24px;
	height: 2px;
	font-size: 0;
	line-height: 0
}

.qos_connected_time {
	display: block;
	width: calc(100% - 100px);
	position: absolute;
	left: 24px;
	bottom: 4px;
	text-align: center;
	font-size: 12px;
	line-height: 14px
}

.qos_bar {
	position: relative;
	display: inline-block;
	width: calc(20% - 2px);
	margin: 0 1px;
	height: 2px;
	background-color: rgba(0,0,.1);
	text-align: left;
	font-size: 0;
	line-height: 0;
	padding: 0!important
}

.qos_bar_inner {
	position: relative;
	display: inline-block;
	height: 100%;
	width: 0;
	background-color: #00b4f9
}

.webrtc__player__icon--on-no-speaking .player_icon_path_4 {
	animation-name: play_sound_three;
	animation-duration: 3s;
	animation-iteration-count: infinite
}

.webrtc__player__icon--on-no-speaking .player_icon_path_3 {
	animation-name: play_sound_three;
	animation-duration: 3s;
	animation-iteration-count: infinite
}

.webrtc__player__icon--on-no-speaking .player_icon_path_2 {
	animation-name: play_sound_three;
	animation-duration: 3s;
	animation-iteration-count: infinite
}

.webrtc__player__icon--on-no-speaking .player_icon_path_1 {
	animation-name: play_sound_three;
	animation-duration: 3s;
	animation-iteration-count: infinite
}

.webrtc__player__icon--sound .player_icon_path_4 {
	animation-name: play_sound_five_four;
	animation-duration: 1s;
	animation-iteration-count: infinite
}

.webrtc__player__icon--sound .player_icon_path_3 {
	animation-name: play_sound_five_three;
	animation-duration: 1s;
	animation-iteration-count: infinite
}

.webrtc__player__icon--sound .player_icon_path_2 {
	animation-name: play_sound_five_two;
	animation-duration: 1s;
	animation-iteration-count: infinite
}

.webrtc__player__icon--sound .player_icon_path_1 {
	animation-name: play_sound_five_one;
	animation-duration: 1s;
	animation-iteration-count: infinite
}

.volume_bar_outer {
	position: absolute;
	width: 100%;
	border: 0 solid #fff;
	flex-shrink: 0;
	padding: 0;
	left: 0;
	bottom: 0
}

.volume_bar {
	display: inline-block;
	width: 50%;
	border: 0 solid #fff;
	border-radius: 0;
	height: 2px;
	vertical-align: top
}

.volume_bar--left {
	text-align: right
}

.volume_bar--right {
	text-align: left
}

.volume_bar_inner {
	display: inline-block;
	width: 0%;
	height: 100%;
	background-color: #f58220
}

.webrtc__player__status__outer .webrtc__player__onair__text {
	display: none
}

.webrtc__volume__outer {
	position: relative;
	display: inline-block;
	width: calc((100%/4) + 32px);
	border: 0 solid #fff;
	vertical-align: top;
	padding: 11px 0 13px;
	visibility: hidden
}

.webrtc__player__outer--connected .webrtc__volume__outer {
	visibility: visible
}

.webrtc__player__outer--buffering .webrtc__volume__outer {
	visibility: visible
}

.webrtc__volume__label {
	position: relative;
	display: inline-block;
	font-size: 18px;
	line-height: 31px;
	width: 155px;
	vertical-align: top;
	font-weight: 300;
	color: #fff;
	display: none
}

.webrtc__volume__label--small {
	width: 78px;
	display: inline-block
}

.webrtc__volume__label--smaller {
	display: none;
	width: 30px
}

.container--player .volume__label {
	display: none
}

.container--player .volume__label--small {
	display: inline-block
}

.webrtc__volume__inner {
	position: relative;
	display: inline-block;
	width: calc(100% - 78px - 36px - 24px);
	vertical-align: top;
	height: 24px;
	margin-top: 4px
}

.container--player .webrtc__volume__inner {
	width: calc(100% - 96px - 52px);
	margin-right: 8px
}

.webrtc__volume__background {
	width: 100%;
	position: absolute;
	top: 12px;
	height: 0;
	border-style: solid;
	border-width: 1px 0 0;
	border-color: #ff0000
}

.webrtc__volume__progress {
	position: absolute;
	top: 12px;
	left: 0;
	height: 1px;
	width: 0%;
	background-color: #00b4f9
}

.webrtc__volume__knob {
	position: absolute;
	top: 4px;
	left: 0%;
	height: 16px;
	width: 0;
	cursor: pointer
}

.webrtc__volume__knob svg {
	display: block;
	width: 100%;
	width: 16px;
	margin-left: -8px;
	margin-right: -8px;
	fill: #fff
}

.webrtc__volume__knob:hover svg {
	fill: #f58220
}

.webrtc__volume_mute_icons {
	position: relative;
	display: inline-block;
	width: 24px;
	margin-left: 12px;
	margin-right: 24px;
	margin-top: 7px
}

.webrtc__volume_mute_icon {
	position: relative;
	display: block;
	width: 100%;
	display: none;
	cursor: pointer
}

.webrtc__volume_mute_icons--active {
	padding: 0 1px
}

.webrtc__volume_mute_icons:hover svg {
	fill: #f58220
}

.webrtc__volume_mute_icon svg {
	position: relative;
	display: block;
	width: 100%;
	fill: #fff
}

.webrtc__volume_mute_icons--muted .webrtc__volume_mute_icon--muted {
	display: block
}

.webrtc__volume_mute_icons--muted .webrtc__volume_mute_icon--active {
	display: none
}

.webrtc__volume_mute_icons--active .webrtc__volume_mute_icon--active {
	display: block
}

.webrtc__volume_mute_icons--active .webrtc__volume_mute_icon--muted {
	display: none
}

.status_slash--second,.status_slash--third {
	display: inline-block!important
}

#webrtc_protocol {
	cursor: pointer
}

@media only screen and (max-width:580px) {
	.members-webrtc-beta {
		bottom: 44px;
		left: 50%;
		transform: translateX(-50%)
	}

	.members-revert-to-flash {
		bottom: 44px;
		left: 50%;
		transform: translateX(-50%)
	}

	.container--player .members-webrtc-beta {
		bottom: -6px
	}

	.container--player .members-revert-to-flash {
		bottom: -14px
	}

	.webrtc_beta_drop {
		display: none
	}

	.webrtc__player__outer {
		height: 48px
	}

	.webrtc__player__inner {
		padding: 0 16px
	}

	.webrtc_start_button--small {
		display: inline-block;
		padding: 0 20px 1px;
		text-transform: uppercase
	}

	.webrtc_start_button--full {
		display: none
	}

	.webrtc__player__icon {
		padding: 0
	}

	.webrtc__volume__outer {
		display: none;
		padding: 8px 0 6px;
		width: calc((100%/2) - 43px)
	}

	.webrtc__player__middle {
		width: 100%;
		height: 48px;
		padding: 6px 0
	}

	.webrtc__player__onair__text {
		padding: 0
	}

	.webrtc__player__status__outer {
		display: none;
		height: 48px;
		width: calc((100%/2) - 43px);
		padding: 8px 0 6px
	}

	.webrtc__player__outer--connected .webrtc__volume__outer {
		display: inline-block
	}

	.webrtc__volume__label {
		display: none
	}

	.webrtc__volume__label--smaller {
		display: inline-block;
		margin-right: 6px
	}

	.webrtc__volume_mute_icons {
		margin-left: 6px;
		margin-right: 6px
	}

	.webrtc__volume__inner {
		width: calc(100% - 30px - 36px - 12px)
	}

	.container--player .webrtc__volume__inner {
		width: calc(100% - 78px);
		margin-right: 0
	}

	.webrtc__volume__knob {
		top: 6.5px
	}

	.webrtc__volume__knob svg {
		height: 12px;
		width: 12px
	}

	.webrtc__player__middle {
		transition: all 0s
	}

	.webrtc__player__outer--connected .webrtc__player__status__outer {
		display: inline-block
	}

	.webrtc__player__outer--connected .webrtc__player__middle {
		width: 86px
	}

	.webrtc__player__middle--on-air .webrtc__player__onair__text {
		display: none
	}

	.webrtc_status_slash {
		display: none!important
	}

	.webrtc__player__status__outer #webrtc_protocol {
		display: none
	}

	.webrtc__player__status__outer #webrtc_ping_time {
		display: none
	}

	.webrtc__player__status__outer #webrtc_jitter {
		display: none
	}

	.webrtc__player__status__outer #webrtc_packets_lost {
		display: none
	}

	.webrtc__player__status__outer #webrtc_mean_opinion_score {
		display: none
	}

	.qos_bars_outer {
		width: calc(100% - 12px);
		left: 6px;
		bottom: 2px
	}

	.webrtc__player__status__outer .webrtc__player__onair__text {
		display: none;
	}

	.qos_connected_time {
	display: block;
	width: 100%;
	position: absolute;
	left: 7px;
	bottom: 14px;
	text-align: left;
	font-size: 10px;
	line-height: 10px
	}
}

@media only screen and (min-width:581px) and (max-width:780px) {
	.members-webrtc-beta {
		bottom: 50px;
		left: 50%;
		transform: translateX(-50%)
	}

	.members-revert-to-flash {
		bottom: 50px;
		left: 50%;
		transform: translateX(-50%)
	}

	.webrtc__player__inner {
		padding: 0 16px
	}

	.container--player .members-webrtc-beta {
		bottom: -6px
	}

	.container--player .members-revert-to-flash {
		bottom: -14px
	}

	.webrtc__player__outer {
		height: 56px
	}

	.webrtc_start_button--small {
		display: inline-block;
		padding: 0 20px 1px;
		text-transform: uppercase
	}

	.webrtc_start_button--full {
		display: none
	}

	.webrtc__volume__outer {
		display: none;
		width: calc((100%/2) - 59px)
	}

	.webrtc__player__middle {
		width: 100%;
		height: 56px
	}

	.webrtc__player__status__outer {
		display: none;
		height: 56px;
		width: calc((100%/2) - 59px)
	}

	.webrtc__player__outer--connected .webrtc__volume__outer {
		display: inline-block
	}

	.webrtc__volume__label {
		display: none
	}

	.webrtc__volume__label--smaller {
		display: inline-block;
		margin-right: 8px
	}

	.webrtc__volume_mute_icons {
		margin-left: 6px;
		margin-right: 12px
	}

	.webrtc__volume__inner {
		width: calc(100% - 30px - 36px - 12px - 8px)
	}

	.container--player .webrtc__volume__inner {
		width: calc(100% - 86px);
		margin-right: 0
	}

	.webrtc__player__middle {
		transition: all 0s
	}

	.webrtc__player__outer--connected .webrtc__player__status__outer {
		display: inline-block
	}

	.webrtc__player__outer--connected .webrtc__player__middle {
		width: 118px
	}

	.webrtc__player__middle--on-air .webrtc__player__onair__text {
		display: none
	}

	.webrtc_status_slash {
		display: none!important
	}

	.webrtc__player__status__outer {
		font-size: 10px;
		line-height: 16px;
		padding: 10px 0 0 12px
	}

	.webrtc__player__status__outer #webrtc_protocol {
		display: none
	}

	.webrtc__player__status__outer #webrtc_ping_time {
		display: none
	}

	.webrtc__player__status__outer #webrtc_jitter {
		display: none
	}

	.webrtc__player__status__outer #webrtc_packets_lost {
		display: none
	}

	.webrtc__player__status__outer #webrtc_mean_opinion_score {
		display: none
	}

	.qos_bars_outer {
		width: calc(100% - 12px);
		left: 6px;
		bottom: 2px
	}

	.webrtc__player__status__outer .webrtc__player__onair__text {
		display: none;
	}

	.qos_connected_time {
		display: block;
	width: 100%;
	position: absolute;
	left: 7px;
	bottom: 14px;
	text-align: left;
	font-size: 10px;
	line-height: 10px
	}
}

@media only screen and (min-width:781px) and (max-width:1047px) {
	.webrtc__player__inner {
		padding: 0 16px
	}

	.members-webrtc-beta {
		bottom: 50px;
		left: 50%;
		transform: translateX(-50%)
	}

	.members-revert-to-flash {
		bottom: 50px;
		left: 50%;
		transform: translateX(-50%)
	}

	.webrtc__player__middle {
		transition: all 0s
	}

	.container--player .members-webrtc-beta {
		bottom: -6px
	}

	.container--player .members-revert-to-flash {
		bottom: -14px
	}

	.webrtc__player__middle {
		width: calc(100%/2)
	}

	.webrtc__volume__outer {
		width: calc(100%/4)
	}

	.webrtc__player__status__outer {
		width: calc(100%/4)
	}

	.webrtc__volume__label {
		display: none
	}

	.webrtc__volume__label--smaller {
		display: inline-block;
		margin-right: 8px
	}

	.webrtc__volume_mute_icons {
		margin-right: 12px
	}

	.webrtc__volume__inner {
		width: calc(100% - 30px - 36px - 12px - 8px)
	}

	.container--player .webrtc__volume__inner {
		width: calc(100% - 86px);
		margin-right: 0
	}

	.qos_bars_outer {
		width: calc(100% - 24px);
		left: 12px;
		bottom: 24px
	}

	.webrtc__player__status__outer {
		font-size: 10px;
		line-height: 16px;
		padding: 10px 0 0 12px
	}

	.webrtc_start_button--small {
		display: inline-block;
		padding: 0 20px 1px;
		text-transform: uppercase
	}

	.webrtc_start_button--full {
		display: none
	}

	.status_slash--second,.status_slash--third {
		display: inline-block!important
	}

	.webrtc__player__status__outer #webrtc_protocol {
		width: 30px
	}

	.webrtc__player__status__outer #webrtc_ping_time {
		width: 40px
	}

	.webrtc__player__status__outer #webrtc_jitter {
		width: 30px
	}

	.webrtc__player__status__outer #webrtc_packets_lost {
		width: 30px
	}

	.webrtc__player__status__outer #webrtc_mean_opinion_score {
		width: 24px
	}

	.qos_connected_time {
		font-size: 10px;
		width: calc(100% - 24px);
		left: 12px
	}
}